<%-include("include/head.ejs");%>
<body>
    <h1>yiur dice value gave value:<%-diceval%></h1>

    <%for(user of followers){%>
        <li><%=user%></li>
    <%}%>
    <h1>hyy akhilesh, your followers name is <%=followers%> </h1>
</body>
</html>